<!DOCTYPE html>
<html>
  <head>
    <title>home page></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>home page</h1>
    <a href="/about">about dc comics</a>
  </body>
</html>
